// General styles

html {
    font-size: 10px;
}

body {
    color: snow;
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.8px;

}

h1 {
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
}

a {
    text-decoration: none;
    color: snow;
    &:hover,
    &:visited,
    &:focus {
        color: snow;
    }
}

input,
button {
    -moz-appearance: none;
    -webkit-appearance: none;   
    border: none;
    padding: 10px 15px;
    transition: 0.3s;
}

.hide {
    // opacity: 0;
    display: none;
}

.errorMessageBox {
    p {
        font-size: 5rem;
    }
}

a.goBack:visited {
    color: yellow;
}

a.goBack:hover, a.goBack:focus {
    color: firebrick;
}

#topLayer, #marshLayer, #chocLayer, #bottomLayer {
    position: absolute;
}
#topLayer {
    z-index: 9999;
    top: 10px;
}
#marshLayer {
    z-index: 8999;
    top: 20px;
}
#chocLayer {
    z-index: 7999;
    top: 45px;
}
#bottomLayer {
    z-index: 6999;
    top: 40px;
}


