form {
    // flex-basis: 30%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: space-between;
    input,
    select,
    p {
        margin: 0 10px 50px 0;
        font-size: 2rem;
    }
    select {
        padding: 10px 0;
    }
    input[name="city"],
    select[name="province"] {
        max-width: 150px;
    }
    input[name="address"]{
        min-width: 450px;
    }
    input[type="submit"] {
        background-color: $brandGreen;
        font-family: 'Bungee', cursive;
        border: 2px solid snow;
        color: snow;
        padding: 10px 40px;
        justify-self: flex-end;
        transition: all 0.3s;
        &:hover {

            border: 2px solid #cddc39;
            background-color: snow; 
            color: $brandGreen;
        }
    }
}