form {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    input,
    select,
    p {
        margin: 0 5px 50px 0;
    }
    p {
        font-size: 2rem;
    }
    input[name="address"]{
        min-width: 490px;
    }
}