/* Portrait tablet and small desktops */
    @media (max-width: 940px) {
        aside {
            visibility: hidden;
        }
        section {
            flex-basis: 100%;
            text-align: center;
        }
        form select {
            padding: 10px;
        }
        .modalWindow .modalWindowContent {
            div {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
        .destinationOption div {
            flex-basis: 100%;
        }
        input[name="city"] {
            max-width: 60%;
        }
        input[select="province"] {
            max-width: 60%;
            text-align: right;
        }
        form p,
        form select {
            margin-right: 10px;
        }
    }


    /* Landscape phones and down */
    @media (max-width: 574px) {
        .destinationOption div {
            margin-right: 20px;
        }
        header img {
            width: 90%;
            margin: 0 auto;
        }
        form input[name="address"] {
            min-width: initial;
        }
        .modalWindow {
            width: 100%;
            padding: 0;
            left:0;
            top: 0;
            .modalWindowContent {
                margin-top: 60px;
            }
        }       
        form {
            flex-direction: column;
            align-items: center;
            p,
            select,
            input {
                margin-bottom: 10px;
                width: 100%;
            }
        } 
    }