article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  display: block; }

header {
  height: 20vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.brandLogo {
  max-width: 450px; }

html {
  font-size: 10px; }

body {
  color: snow;
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.8px; }

h1 {
  text-transform: uppercase;
  font-family: 'Bungee', cursive; }

a {
  text-decoration: none;
  color: snow; }
  a:hover, a:visited, a:focus {
    color: snow; }

input,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.hide {
  display: none; }

main {
  background-color: #7cb342;
  min-height: 80vh;
  height: 100%;
  position: relative; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

section {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

aside {
  position: fixed;
  left: 65%;
  top: 70%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  aside img {
    min-width: 274px; }

form {
  padding: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  form input,
  form select,
  form p {
    margin: 0 10px 50px 0; }
  form p {
    font-size: 2rem; }
  form input[name="address"] {
    min-width: 450px; }
  form input[type="submit"] {
    background-color: #7cb342;
    font-family: 'Bungee', cursive;
    border: 2px solid snow;
    color: snow;
    padding: 10px 40px;
    justify-self: flex-end;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    form input[type="submit"]:hover {
      border: 2px solid #cddc39;
      background-color: snow;
      color: #7cb342; }

.destinationOption {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .destinationOption div {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 50px;
    border: 2px solid #cddc39; }
    .destinationOption div button {
      margin-bottom: 20px;
      width: 100%;
      background-color: #7cb342;
      text-align: left; }
    .destinationOption div p {
      margin: 15px 0 15px 10px; }
  .destinationOption .option {
    font-size: 2rem;
    color: #e65100; }

.modalWindow {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  top: 50px;
  z-index: 2;
  padding: 100px;
  background-color: #1b5e20; }
  .modalWindow div {
    border: none; }
  .modalWindow .fa {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem; }
  .modalWindow .modalWindowContent div {
    float: left;
    width: 45%;
    margin-right: 25px; }
